.row{
    border: 2px solid red;
    height: 50px;
    width: auto;
    margin-bottom: 4px;
}

.col{
    border: 2px solid blue;
    height: 50px;
    width: 100%;
}

.containerfluid{
    justify-content: center;
    width: 100%;
}

#Heading{font-size: 40px;
    color: darkslategrey;
    text-align: center;
    font-style: italic;}
h6{text-align: center;}
p{text-align: center;}